<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Realizando testes e comparação
  // podemos usar operadores de comparação para testar valores
  function imprime(frase) {
    document.write('Resultado = ' + frase + '<br>');
  }

  // retornos True (verdadeiro) ou False (falso)
  var maior = 5 > 3;
  var menor = 5 < 3;
  var diferente = 5 != 3;
  var igualdade = 5 == 3;

  imprime(maior);
  imprime(menor);
  imprime(diferente);
  imprime(igualdade);

  /*
    Temos como operadores os sinais de:
    > maior
    < menor
    >= maior ou igual
    <= menor ou igual
    != diferente
    == igualdade entre valores
  */
</script>
