<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Decidindo se o código deve ou nao ser executado
  /*
    IF - Simples!
    As vezes precisamos executar um trecho de código somente se
    uma determinada situação for ou não satisfeita. Para isso usamos
    a estrutura de comando if. Ela realiza um teste e se o retorno for
    verdadeiro uma sequencia de comandos será executada, caso contrario
    nenhuma ação será realizada e as instruções serão ignoradas.
  */

  var idade = 20;
  var idade2 = 16;

  if (idade >= 18) {
    document.write('Essa sessão será executada');
  }

  if (idade2 >= 18) {
    document.write('Essa sessão nao será executada');
  }

  // o primeiro teste irá retornar verdadeiro pois 20 é maior que 18
  // o segundo teste irá retornar falso pois 16 não é maior nem igual a 18

</script>
