<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Decidindo se o código deve ou nao ser executado
  /*
    IF - ELSE!
    As vezes precisamos executar uma segunda tarefa caso o retorno
    de nosso teste no if seja falso. Para isso podemos usar o complemento
    else que significa basicamente "caso contrario". Isso poderia ser dito
    da seguinte forma: Se tal condição faça isso, caso contrario faça isto.
  */

  var idade = 16;

  if (idade >= 18) {
    document.write('Essa sessão não será executada');
  } else {
    document.write('Essa será executada pois o retorno foi false')
  }

  // o teste dentro do if irá retornar false pois 16 não é nem maior e nem
  // igual a 18. Nesse caso o bloco dentro do else é acionado!
  // Se o if fosse executado, o javascript nao entraria no else.

</script>
