<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Decidindo se o código deve ou nao ser executado
  /*
    IF - ELSE IF - ELSE!
    Podemos ter mais de uma possibilidade de testes. Para isso Podemos
    usar outros testes, usando o termo elseif que permite um novo teste
    antes de entrar no bloco final do else. Podemos criar varios elseifs
    se assim for necessario!
  */

  var idade = 16;

  if (idade > 21) {
    document.write('A pessoa é maior de 21 anos');
  } else if (idade >= 18) {
    document.write('A pessoa tem idade igual ou maior a 18 e no maximo 21');
  } else if (idade >= 16) {
    document.write('A pessoa tem idade igual ou maior a 16 e menor que 18');
  } else {
    document.write('A pessoa é menor que 16 anos de idade!');
  }

  // nesse exemplo temos 3 testes possiveis de serem realizados. O primeiro
  // e o segundo irão retornar falsos. Porém o terceiro teste e ultimo será
  // verdadeiro. O bloco else não será executado e nossa saida será
  // 'A pessoa tem idade igual ou maior a 16 e menor que 18'

</script>
