<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Usando funções nativas para apoio
  /*
    Math.round() e Math.randon()
    O javascript assim como outras linguagens possuem funções nativas que já
    vem prontas para serem usadas. Nesse exemplo iremos usar a Math.round que
    arredonda numeros flutuantes em inteiros e a Math.random que nos retorna
    um valor randomico entre 0 e 1. O módulo Math possui diversas funções.
  */

  // gerando um numero aleatório entre 0 e 1
  var num1 = Math.random();
  // gerando um numero aleatório entre 0 e 10
  var num2 = Math.random() * 10;
  // arredondando um numero aleatório entre 0 e 10
  var num3 = Math.round(Math.random() * 10);

  document.write('Primeiro numero aleatório: ' + num1 + '<br>');
  document.write('Segundo numero aleatório: ' + num2 + '<br>');
  document.write('Terceiro numero aleatório: ' + num3 + '<br>');

  // perceba como são gerados os valores pelas funções nativas

</script>
