<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Conhecendo melhor as operações de divisão e o Math.floor()

  var a = 5;
  var b = 2;

  // se dividirmos o valor de a pelo valor de b teremos um valor fracionado
  document.write(a / b + '<br>');

  // podemos usar o Math.floor() para obtermos a divisão inteira
  document.write(Math.floor(a / b) + '<br>');

  // usamos o simbolo de % para obtermos o resto da divisão somente.
  document.write(a % b + '<br>');

  // a principal diferença entre o uso do Math.floor e o Math.round é que
  // o floor irá retornar sempre a parte inteira do valor fracionado, enquanto
  // o round irá arredondar o valor para cima ou para baixo de acordo com
  // a parte fracionada.

  // retorna 5 na saida do documento
  document.write(Math.round(4.75) + '<br>');
  // retorna 4 na saida do documento
  document.write(Math.round(4.35) + '<br>');
  // retorna 4 na saida do documento em ambos os casos
  document.write(Math.floor(4.75) + '<br>');
  document.write(Math.floor(4.35) + '<br>');
  
</script>
