<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Repetições
  /*
    WHILE
    As vezes precisamos fazer com que um determinado código seja repetido
    varias vezes. Para isso podemos fazer uso dos comandos de repetição,
    também chamados de laços. No exemplo a seguir usamos o while() que será
    executado enquanto uma determinada situação teste retornar como True.
  */

  var contador = 1;

  // vamos escrever no documento de 1 até 10.
  while (contador <= 10) {
    document.write('Numero ' + contador + '<br>');
    contador = contador + 1;
  }

  // enquanto (while) a variavel contador for menor ou igual a 10, o bloco
  // será executado. Ele escreve a mensagem com o valor de contador e pula
  // linha. Antes de sair do bloco ele faz a variavel receber a soma de valor 1.
  // por ser um bloco de repetição, o javascript irá testar novamente a variavel
  // se for True o teste, ele repete o bloco. Se der False, ele nao executa
  // seguindo o programa, no nosso caso, encerrando a aplicação.

</script>
