<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Repetições
  /*
    WHILE break / incremento
    Precisamos tomar cuidado para nao incorrer em laços de repetição infinita.
    Isso pode causar uma paralisação no sistema além de comprometer o uso
    por parte do usuario.
  */

  var decisao = 's';
  var contador = 1;

  while (true) {
    decisao = prompt('Deseja continuar? s ou n: ');
    if (decisao == 's') {
      document.write('Contador = ' + contador + '<br>');
      contador++;
    } else {
      break;
    }
  }

  document.write('Fim do laço de repetição!')

  // contador++ é a mesma coisa que o uso de contador = contador + 1
  // isso faz um incremento sempre de 1 em 1 na variavel. Poderia ser o --
  // para decrementar.
  // Como nosso while esta True, temos o break para parar o loop quando o
  // usuario determinar o fim da repetição.

</script>
