<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Repetições
  /*
    FOR
    Básicamente, o laço de repetição for trabalha igual ao laço while, porém,
    com declarativas diferentes. No for, passamos três argumentos: uma variavel
    inicializadora, um teste e a operação de incremento ou decremento.
    abaixo uma comparação de contagem de numeros de 1 a 10 em while e for.
  */

  // exemplo while
  var cont = 1;
  while (cont <= 10) {
    document.write('Numero = ' + cont + '<br>');
    cont++;
  }

  // document.write com <br> apenas para separar o resultado de saida.
  document.write('<br>');

  // exemplo do for (variavel inicial; teste; incremento)
  for (var i = 0; i <= 10; i++) {
    document.write('Numero = ' + i + '<br>')
  }

  // repare que a declaração da variavel, o teste e o incremento fica dentro do
  // for tornando nosso codigo mais curto, e pratico.

</script>
