<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // BREAK e CONTINUE
  /*
    O comando Break define o ponto de parada de uma repetição ou execução
    uma vez que determinada condição ou ação seja tomada.
    O comando Continue define um salto na execução, porém com continuidade.
    Podemos usar o Continue para dar andamento em laços de repetição com
    certas condições.
  */

  // nesse caso, o if testa se o valor de i é igual a 6
  // se verdadeiro, ele para a execução do laço.
  // saida: 1 2 3 4 5
  for (var i = 1; i <= 10; i++) {
    if (i == 6) {
      break;
    }
    document.write('Valor num = ' + i + '<br>');
  }

  // comando apenas para pular uma linha
  document.write('<br>');

  // nesse caso o if testa se o valor de i é igual a 6 ou 7
  // se verdadeiro, ele salta a execução de volta ao laço, pulando
  // a execução do comando de escrita no documento.
  // saida: 1 2 3 4 5 8 9 10
  for (var i = 1; i <=10; i++) {
    if (i == 6 || i == 7) {
      continue;
    }
    document.write('Valor num = ' + i + '<br>');
  }

</script>
