<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  /* Jogo de Advinhação - Revisão de Conceitos */

  //Variaveis do jogo!
  var numUser = 0;
  var numPc = Math.round(Math.random() * 20);
  var tentativas = 0;

  document.write('<h5> Descubra qual numero o Pc pensou entre 1 e 20 </h5>')

  // Corpo de ação do Jogo!
  while (numUser != numPc) {

    numUser = prompt('Descubra o numero pensado: ');

    if (numPc < numUser) {
      document.write('Você chutou um numero Maior! <br>');
    } else if (numPc > numUser) {
      document.write('Você chutou um numero Menor! <br>');
    } else {
      document.write('Parabéns você acertou! Numero Pensado ' + numPc + '<br>');
    }

    tentativas++;

  }

  // Finalizando Jogo! Exibindo numero de Tentativas!
  document.write('Você usou ' + tentativas + ' para acertar!');

</script>
