<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Estudos de Arrays - Lidando com multiplos dados.
  // imaginemos a seguinte situação!
  var num1 = 55;
  var num2 = 32;
  var num3 = 28;
  var num4 = 43;
  var num5 = 40;

  document.write(num1 + '<br>');
  document.write(num2 + '<br>');
  document.write(num3 + '<br>');
  document.write(num4 + '<br>');
  document.write(num5 + '<br>');

  /*
    Podemos ao invés de declarar uma variavel para cada valor, criar
    um array (vetor) unico contendo todos os valores. Para criar um
    array, passamos os valores dentro de colchetes separados por ','
  */
  var vetorNum = [55, 32, 28, 43, 40];

  document.write(vetorNum + '<br>');

  /*
    Para acessarmos cada um dos valores individualizados, podemos fazer
    a solicitação usando sua posição no indice. Devemos ter em mente que
    vetores começam na posição inicial 0. Em nosso exemplo o vetor guarda
    5 numeros sendo entao os indices [0,1,2,3,4]
  */
  for (var i = 0; i < 5; i++) {
    document.write(vetorNum[i] + '<br>');
  }

  /*
    Quando não sabemos o tamanho do vetor, podemos usar o método length,
    para informar que queremos percorrer o laço pelo tamanho do vetor.
    Podemos usar o length também para nos retornar o tamanho do array.
  */
  for (var i = 0; i < vetorNum.length; i++) {
    document.write(vetorNum[i] + '<br>');
  }

  document.write('Tamanho do Vetor (length) = ' + vetorNum.length);

</script>
