<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Estudos de Arrays - Usando push e declaração vazia.

  var vetor = []; // iniciando um array vazio
  vetor.push(30);
  document.write('Primeiro valor adicionado: ' + vetor + '<br>');
  /*
    Usamos a função push para enviar valores a um array. Ele sempre
    irá incluir o valor adicionado ao final do array, criando assim um
    novo indice. Podemos passar mais de um valor pelo push.
  */
  vetor.push(44, 38);
  document.write('Novos valores no vetor: ' + vetor + '<br>');

  /*
    Uma observação: para criarmos um array vazio podemos declarar
    diretamente como fizemos no exemplo acima, ou declararmos de forma
    indireta:
    var array = new Array();
  */

  var array = new Array();
  array.push(20, 22, 24);
  document.write('Array criado indiretamente: ' + array);

</script>
