<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<input type="text" id="texto">
<input type="submit" value="Clique-me" id="btn">

<script type="text/javascript">

  // Integrando o Javascript com o Html
  // acima criamos um botão e uma caixa de texto.

  // vamos guardar e apresentar o que foi digitado pelo usuario
  function clicouBtn() {
    var texto = document.getElementById('texto');
    alert(texto.value);
  }

  /*
    Criamos uma função chamada clicouBtn. Ela coleta o valor da caixa de
    texto (input) que possui id = texto, através do getElementById(). Com
    esse valor guardado, ela devolve um alert passando como referencia
    o value presente na caixa de texto do formulario.

    Podemos usar o getElementById() para acessar elementos HTML a partir de
    seus ID's de referencia.
  */

  var btn = document.getElementById('btn');
  btn.onclick = clicouBtn;
  // aqui acessamos o botão do formulario usando tbm o id e o evento onclick.
  // com base no evento, chamamos a função acima para executarmos as ações.

</script>
