<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>
<h6>Bandeira da Itália</h6>

<canvas id="tela" width="600" height="400"></canvas>

<script type="text/javascript">

  // Desenhando com Javascript e Canvas (bandeira Italia)
  // Com o Canvas do Html criamos uma tela para nossos desenhos.

  // capturamos a tela no javascript usando o seu id.
  var tela = document.getElementById('tela');
  // a variavel pincel guarda nosso contexto 2d para desenharmos.
  var pincel = tela.getContext('2d');

  // informamos a cor verde ao estilo do pincel para a pintura
  pincel.fillStyle='green';
  // criamos uma forma Rect (retangular) na posição 0,0 com tam 200x400
  pincel.fillRect(0, 0, 200, 400);

  // informamos a cor vermelha ao estilo do pincel para a pintura
  pincel.fillStyle='red';
  // criamos uma forma Rect (retangular) na posição 400,0 com tam 200x400
  pincel.fillRect(400, 0, 200, 400);

</script>
