<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>
<h6>Triangulo</h6>

<canvas id="tela" width="600" height="400"></canvas>

<script type="text/javascript">

  // Desenhando com Javascript e Canvas

  // capturamos a tela no javascript usando o seu id.
  var tela = document.getElementById('tela');
  // a variavel pincel guarda nosso contexto 2d para desenharmos.
  var pincel = tela.getContext('2d');

  // vamos mover o pincel e criar as linhas para o Triangulo
  pincel.fillStyle="gray";
  pincel.beginPath();
  pincel.moveTo(300, 200);
  pincel.lineTo(200, 400);
  pincel.lineTo(400, 400);
  pincel.fill();

  /*
    precisamos começar a traçar três lados. Pegamos nosso pincel começando
    do ponto 300,200, que representa omeio da bandeira. Traçamos desse ponto
    até o inferior esquerdo, que é 200,400. Depois traçamos a base do triângulo,
    movendo o pincel até o ponto 400,400. Por último, fechamos o nosso polígono (no
    caso um triângulo), retornando ao ponto inicial do traçado. Além disso, pedimos
    para que todo o polígono seja preenchido.
  */

</script>
