<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>
<h6>Triangulo com um Circulo</h6>

<canvas id="tela" width="600" height="400"></canvas>

<script type="text/javascript">

  // Desenhando com Javascript e Canvas

  // capturamos a tela no javascript usando o seu id.
  var tela = document.getElementById('tela');
  // a variavel pincel guarda nosso contexto 2d para desenharmos.
  var pincel = tela.getContext('2d');

  // vamos desenhar o mesmo Triangulo do exemplo anterior
  pincel.fillStyle="gray";
  pincel.beginPath();
  pincel.moveTo(300, 200);
  pincel.lineTo(200, 400);
  pincel.lineTo(400, 400);
  pincel.fill();

  // vamos traçar agora o desenho de uma circunferencia.
  pincel.fillStyle="blue";
  pincel.beginPath();
  pincel.arc(300, 200, 50, 0, 2*3.14);
  pincel.fill();

  /*
    Existe a função arc, que precisa demuitas informações. São 5: as coordenadas X
    e Y, o raio, o ângulo inicial e o ângulo final, ambos em radianos. Nada simples. Ele
    precisa dos ângulos iniciais e finais porque ele também serve para desenhar apenas
    um pedaço do círculos. Vamos usar de 0 até duas vezes 3.14, que é o valor do PI,
    representando a circunferência inteira
  */

</script>
