<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>
<h6>Triangulo com um Circulo</h6>

<canvas id="tela" width="600" height="400"></canvas>

<script type="text/javascript">

  // Usando funções para compor os desenhos
  function desenhar(x,y) {
    var tela = document.getElementById("tela");
    var c = tela.getContext("2d");
    c.fillStyle="green";
    c.fillRect(x, y, 50, 50);
  };

  // construindo a linha verde usando um laço e chamada de função.
  var x = 0;
  while(x < 600) {
    desenhar(x, 0);
    x = x + 50;
  }

</script>
