<h1> Estudos Javascript </h1>
<h2> Parabola (desenho) </h2>

<canvas id="tela" width="600" height="400"></canvas>

<script>

  // Desenhando uma Parabola com Javascript e Canvas

  var tela = document.getElementById("tela");
  var c = tela.getContext("2d");

  // atribuindo a cor vermelha ao pincel
  c.fillStyle = "red";

  for (var x = 0; x < 600; x+= 1) {

    // usamos o 0.01 para podermos ver melhor os
    // pontos de crescimento da função.
    var y = 0.01 * x * x;

    // movemos nosso pincel e criamos os pontos
    c.beginPath();
    c.arc(x, 400 - y, 2, 0, 2 * Math.PI);
    c.fill();

  }

</script>
