<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>
<h5>Desenhando no canvas!</h5>

<canvas id="tela" width="600" height="400"></canvas>

<script type="text/javascript">

  // Tela de Desenho - capturando os eventos do mouse
  var tela = document.getElementById("tela");
  var c = tela.getContext("2d");

  // definindo um fundo cinza para todo o canvas
  c.fillStyle="gray";
  c.fillRect(0, 0, 600, 400);

  // Podemos ler os eventos de mouse e teclado com o javascript.
  // nesse exemplo, iremos capturar o local que o mouse foi clicado e
  // adicionar um pequeno circulo colorido (como se o usuario estivesse
  // desenhando na tela do canvas)
  tela.onclick = function(evento) {
    var x = evento.pageX - tela.offsetLeft;
    var y = evento.pageY - tela.offsetTop;
    c.fillStyle="blue";
    c.beginPath();
    c.arc(x, y, 10, 0, 2*3.14);
    c.fill();
  }

  // note que usamos a função de evento onlick (que captura o clique do mouse)
  // nesse momento, atribuimos uma função por meio do evento que faz um
  // desenho de circulo em cor azul.

</script>
