<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>
<h5>Bandeira Noruega</h5>

<canvas id="tela" width="600" height="400"></canvas>

<script type="text/javascript">

  // Coletando o canvas e criando o pincel (c)
  var tela = document.getElementById("tela");
  var c = tela.getContext("2d");

  // adicionando fundo vermelho
  c.fillStyle="red";
  c.fillRect(0, 0, 600, 400);

  // criando a cruz branca da bandeira
  c.fillStyle="white";
  c.fillRect(150, 0, 80, 400);
  c.fillStyle="white";
  c.fillRect(0, 150, 600, 80);

  // criando a cruz azul da bandeira
  c.fillStyle="blue";
  c.fillRect(160, 0, 60, 400);
  c.fillStyle="blue";
  c.fillRect(0, 160, 600, 60);

</script>
