<h1>Estudando Lógica com Javascript</h1>

<script type="text/javascript">

  // document write escreve no documento do navegador
  document.write('Aprendendo Javascript para web <br>');
  // podemos inserir uma tag html no corpo da string
  // o uso da tag <br> quebra a linha criando uma nova
  document.write('Imprimindo mensagens com Javascript');

</script>
