<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // trabalhando com variaveis e operações
  var ano = 2018;
  var idade = 31;
  var nascimento = ano - idade;

  // imprimindo uma mensagem concatenando ao valor de uma variavel
  document.write('Eu nasci no ano de ' + nascimento);
  document.write('<br>');

  // usando uma biblioteca nativa para arrendondar valores
  var media = (4 + 7 + 5 + 5) / 4;
  document.write('O valor da media é: ' + media);
  document.write('<br>');
  document.write('O valor arredondado da média é: ' + math.round(media));

</script>
