<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Aprendendo sobre funções em javascript
  // podemos guardar um trecho de código dentro de uma variavel
  // para isso usamos o termo function() na declaração da mesma.
  var pulaLinha = function() {
    document.write('<br>');
  }

  // usando e chamando a função
  var idade = 32;
  document.write('Minha idade é ' + idade);
  pulaLinha();
  document.write('Pulamos uma linha com a chamada da função acima!');

  // agora podemos usar o pulaLinha sempre que precisarmos.
  // podemos também edita-lo se preciso, uma unica vez!
  // em todas as chamadas da função, o efeito da alteração será aplicado.

</script>
