<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // passando argumentos para nossa função.
  var frase = function(nome) {
    document.write('Bem vindo ao sistema ' + nome);
    document.write('<br>');
  }

  // nessa chamada estamos enviando para função um parametro
  frase('Junior');

  // podemos assim reutilizar a função com outros parametros
  frase('Erisvaldo');

  /*
     O uso de funções, apesar de parecer aumentar nosso código,
     facilita a manutenção do código e sua reutilização.
     Podemos assim facilmente, modificar um trecho de código uma
     unica vez e termos seus efeitos aplicados em todos os usos
  */
</script>
