<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // chamando uma função dentro de outra.
  // podemos criar uma função, e realizar sua chamada dentro de outra.

  var imprime = function(nome) {
    document.write('Bem vindo ' + nome);
  }

  var mostra = function() {
    document.write('<h4> Sistema de funções </h4> ');
    var usuario = 'Ricardo';
    imprime(usuario);
  }

  document.write('Esta mensagem aparece antes das funções!');
  mostra();

  /*
     ao chamar a função mostra() ela executa os comandos existentes
     dentro dela temos uma variavel que chamamos de local 'var usuario'
     essa variavel só existe e esta acessivel dentro da função mostra
     temos também a chamada da função imprime()
  */

</script>
