<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // poodemos retornar um valor de uma função usando o return

  /*
    Nesse exemplo a função soma contém dois valores armazenados
    eles são somados na linha do comando return.
    Na sequencia do código a função soma é chamada dentro do
    document.write(). Por ter um return o valor final da função
    é devolvido a quem chamadou a função, no nosso caso o objeto
    que imprime a mensagem na tela.
  */

  var soma = function() {
    var num1 = 10;
    var num2 = 20;
    return num1 + num2;
  }

  document.write(soma());

  // enviando os valores na chamada da função
  // calculando IMC
  var imc = function(peso, altura) {
    return peso / (altura * 2);
  }

  document.write('IMC = ' + imc(87.4, 1.87));

</script>
