<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // coletando dados do usuario.
  // usamos o prompt() para perguntarmos algo para o usuario
  var nome = prompt('Qual seu nome? ');
  var senha = prompt('Insira uma senha: ');

  document.write('Bem vindo ao sistema ' + nome);
  document.write('<br> Senha inserida: ' + senha);

  // podemos usar o typeof() para descobrir o tipo guardado na variavel
  // o retorno de ambos será tipo String (caracteres)
  document.write(typeof(nome));
  document.write(typeof(senha));

</script>
