<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Conversão de tipos de dados.
  
  // função apenas para criar a quebra de linha
  var pularLinha = function() {
	document.write('<br>');
  };
  
  // exemplo de problema (saida errada)
  var idade = prompt('Digite sua idade: ');
  var idadeIrmao = prompt('Digite a idade de seu irmão: ');
  var total = idade + idadeIrmao;
  document.write('A soma das idades é ' + total);
  /*
	Ao exibir o resultado, nosso código não estará somando as idades, 
	e sim concatenando as mesmas. ex: Idade = 27 e IdadeIrmao = 30
	o resultado exibido será '2730'. O prompt coleta os dados em forma de string
	Precisamos forçar a conversão de valores. Para isso usamos funções como parseInt()
	Ela força o Javascript a converter a entrada em um valor do tipo Inteiro.
  */
  
  pularLinha();
  pularLinha();
  
  // exemplo corrigido (saida correta)
  var idade2 = prompt('Digite sua idade: ');
  var idadeIrmao2 = prompt('Digite a idade de seu irmão: ');
  var total2 = parseInt(idade2) + parseInt(idadeIrmao2);
  document.write('A soma das idade é ' + total2);
  
  // experimente usar os mesmos valores e veja a diferença na execução!
  
</script>
