<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>

<script type="text/javascript">

  // Outra forma de trabalhar com função.
  // temos atribuido a função a uma variavel da seguinte forma.
  var imprime1 = function() {
    document.write('<br> Primeiro modo de escrever função <br>');
  }

  imprime1();

  // porém podemos escrever a função sem a necessidade de criar a variavel
  // declaramos function 'nomeDaFuncao'() e escrevemos o código
  function imprime2() {
    document.write('<br> Segunda forma de escrever função <br>');
  }

  imprime2();

  // os dois modos realizam a mesma ação sem nenhum problema.
  // esse segundo método de escrita de funções é o mais usado!
  
</script>
