<meta charset="utf-8">

<h3>Estudando Lógica com Javascript</h3>
<h5>Aplicação de Revisão!</h5>

<script type="text/javascript">

  // uma simples aplicação contendo bases de revisão.
  function imprime(frase) {
    document.write(frase);
    document.write('<br>');
  }

  function somar(vitorias, empates, derrotas) {
    var pontosGanhos = (parseInt(vitorias) * 3) + parseInt(empates);
    var pontosFinal = pontosGanhos - parseInt(derrotas);
    return pontosFinal;
  }

  imprime('Bem vindo ao sistema de Campeoanatos de time.');

  var time1 = prompt('Digite o nome do Time: ');
  var vitoria = prompt('Digite o numero de vitorias: ');
  var empates = prompt('Digite o numero de empates: ');
  var derrota = prompt('Digite o numero de derrotas: ');

  imprime('Pontuação para o time ' + time1);

  var pontos = somar(vitoria, empates, derrota);

  imprime('Total de Pontos: ' + pontos);
  
</script>
