<!-- Projeto final do Livro lógica de Programação - sugestão -->

<h2>Cadastro Academia - IMC</h2>

<p> Nome: <input type="text" id="nome"> </p>
<p> Idade: <input type="text" id="idade"> </p>
<p> Altura: <input type="text" id="altura"> </p>
<p> Peso: <input type="text" id="peso"> </p>

<p><input type="submit" value="CADASTRAR" id="btn"></p>

<script>
    // Inicio do codigo javascript - a ser separado posteriormente.
    
</script>
